ul {
  list-style: none;
  padding-left: 0;
}
.tabs__item{
  display: none;
}
.tabs__item.active {
  display: block;
}

.centered-content {
  margin-top: 40px;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #23201d;
  color: #937341;
  cursor: pointer;
}
.tabs-content{
  margin-top: 40px;
}
.tabs-title.active {
  background-color: #937341;
  color: #23201d;
}
